.body {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.array-container {
  display: block;
  margin: 10px;
  width: 100vw;
}
.Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.array-bar {
  width: 35px;
  display: inline-block;
  margin: 0 1px;
}
.array-value {
  width: 35px;
  margin: 0 1px;
}
.bars {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 961px) {
  .array-bar {
    width: 20px;
  }
  .array-value {
  
    width: 20px;
    margin: 0 1px;
    font-weight: bold;
    font-size: 10px;
  }
}

@media only screen and (max-width: 570px) {
  .bars {
    display: none;
  }
  .array-bar {
    width: 12px;
  }
}
