@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap");
.Controller {
  font-size: 16px;
  font-family: "Inter", sans-serif;
  padding: 5px;
  display: flex;
  justify-content: center;
  background-color: #233549;
  width: 100vw;
  margin-bottom: 20px;
}

.foo {
  --toastify-toast-width: 820px;
}
.btn {
  display: flex;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  color: white;
  background-color: #233549;
  border: none;
  padding: 10px;

  align-items: center;
}
.btn:hover {
  cursor: pointer;
}
.btn:disabled {
  cursor: not-allowed; /* Show not-allowed cursor on disabled buttons */
  opacity: 0.6; /* Reduce opacity for disabled buttons */
}
#typeinp:hover {
  cursor: grabbing;
}
.algo-speed {
  display: flex;
  width: 250px;
  justify-content: center;
  align-items: center;
  color: white;
}
.btn-list {
  display: flex;
}

@media only screen and (max-width: 961px) {
  .Controller {
    font-size: 18px;
    width: 100vw;
    font-weight: bold;
    padding: 5px;
    background-color: rgb(24, 21, 21);
    margin-left: 5px;
  }
  .btn {
    padding: 5px;
    margin-right: 5px;
    font-size: 18px;
    font-weight: bold;
    background-color: rgb(24, 21, 21);
  }
  .algo-speed {
    width: 200px;
  }
  .foo {
    display: none;
  }
}
.nav-menu {
  display: none;
}
.hamburger {
  display: none;
  cursor: pointer;
}

@media only screen and (max-width: 570px) {
  .Controller {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(24, 21, 21);
    font-size: 14px;
    padding: 5px;
  }

  .btn {
    font-size: 14px;
    background-color: rgba(24, 21, 21, 0.637);
    padding: 5px;
    margin-right: 2px;
    color: white;
  }
  .btn-list {
    display: flex;
    flex-direction: column;
  }

  .algo-speed {
    color: white;
  }
  .foo {
    display: none;
  }
}
